:root {
  --dt-gray-backgroundColor: #1e1e1e;
  --dt-gray-btnCurrent: #6b6b6b;
  --dt-gray-rowTable: #252525;
  --dt-gray-inputBorder: #555555 1px solid;

  --dt-green-backgroundColor: #185a3d;
  --dt-green-btnCurrent: #4caf50;
  --dt-green-rowTable: #2e7d32;
  --dt-green-inputBorder: #388e3c 1px solid;

  --dt-textBlack: #000000;
  --dt-textWhite: #ffffff;
}

.td-gray-theme {
  --td-backgroundColor: var(--dt-gray-backgroundColor);
  --td-btnCurrent: var(--dt-gray-btnCurrent);
  --td-rowTable: var(--dt-gray-rowTable);
  --td-inputBorder: var(--dt-gray-inputBorder);
  --td-textColor: var(--dt-textWhite);
}

.td-green-theme {
  --td-backgroundColor: var(--dt-green-backgroundColor);
  --td-btnCurrent: var(--dt-green-btnCurrent);
  --td-rowTable: var(--dt-green-rowTable);
  --td-inputBorder: var(--dt-green-inputBorder);
  --td-textColor: var(--dt-textWhite);
}

.dataTable {
  width: 100%;
  padding-bottom: 14px;
  margin: 0 auto;
}

.dataTable td {
  padding: 14px;
}

.dataTable tbody tr:nth-child(odd) {
  background-color: var(--td-rowTable);
}

.dataTable thead th {
  padding: 14px;
  font-weight: 1000;
}

.dataTable thead .up,
.dataTable thead .down {
  background-color: var(--td-rowTable);
}

.dataTable thead .up::after {
  content: "▲";
}

.dataTable thead .down::after {
  content: "▼";
}

.containerDataTable {
  background-color: var(--td-backgroundColor);
  color: var(--td-textColor);
  width: 80%;
  padding: 20px;
  border-radius: 3px;
  overflow-x: auto;
}

.containerDataTable .flex select,
.containerDataTable .flex input {
  background: transparent;
  border: var(--td-inputBorder);
  color: var(--td-textColor);
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
}

.containerDataTable .flex select option {
  background-color: var(--td-backgroundColor);
}

.containerDataTable .flex select {
  align-self: flex-start;
  width: 50px;
  height: 30px;
}

.containerDataTable .flex input {
  align-self: flex-end;
  width: 70%;
  height: 20px;
}

.buttonsDataTable {
  width: auto;
  text-align: right;
}

.buttonsDataTable button {
  background: transparent;
  border: var(--td-inputBorder);
  color: var(--td-textColor);
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 30px;
}

.buttonsDataTable button:disabled {
  background-color: rgba(255, 255, 255, 0.1)
}

.buttonsDataTable .pagActual {
  background-color: var(--td-btnCurrent);
}

.containerDataTable .flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  .containerDataTable .flex {
    justify-content: center; 
  }

  .containerDataTable .flex select,
  .containerDataTable .flex input {
    width: auto;
    margin: 10px; 
  }
}