.dataTable {
  width: 80%;
  margin: 0 auto;
}

.dataTable td {
  padding: 14px;
}

.dataTable tbody tr:nth-child(odd) {
  background-color: #292d31;
}

.dataTable th {
  padding: 14px;
}

.containerDataTable {
  background-color: #212529;
  width: 80%;
  padding: 20px;
  border-radius: 3px;
}

.containerDataTable select {
  background: transparent;
  border: #4d5154 1px solid;
  border-radius: 2px;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 50px;
}

.buttonsDataTable {
  width: auto;
  text-align: right;
}

.buttonsDataTable button {
  background: transparent;
  border: #8b8b8b 1px solid;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 30px;
}


.buttonsDataTable .pagActual {
  background-color: #808080;
}
